h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

p {
    border-width: 10px;
    border-color: lightgreen;
    border-style: ridge;
    margin: 5px;
}

span {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray
}


/* .headings {
    color: rgb(199, 23, 23)
}
.paris-paragraph {
    background-color: beige
}
#london-head {
    background-color: pink
} */